@import "../../../assets/styles/def";



#main{
  @include flex(column, center, flex-start);
  width: 100%;
  height: 100%;
  padding: 1rem max(1rem, calc((100vw - 1200px) / 2));
  margin: 5rem 0 2rem 0 !important;
  overflow: auto;

  > .divider {
    width: 100%;
    border: none;
    border-top: 0.0625rem solid lighten($global-gray-right-text-color, 40%);
    margin: 0.5rem 0;
  }

  > .banner-wrapper{
    @include flex(row, center, center);
    position: relative;
    overflow: hidden;
    width: 100%;

    > .button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 20;
      background-color: rgba(darken($global-white-text-color, 1%), 60%);
      padding: clamp(0.5rem, 1vw, 1rem) clamp(0.2rem, 0.3vw, 0.3rem);
      cursor: pointer;

      > .image{
        width: clamp(1.2rem, 2vw, 2rem);
      }
    }

    > .previous{
      left: 0;
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    > .next{
      right: 0;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    > .img-wrapper{
      @include flex(row, center, flex-start);
      width: 100%;
      transition: transform 0.5s ease;
      z-index: 1;

      > .item{
        @include flex(row, center, center);
        min-width: 100%;
        object-fit: cover;
        flex: 0 0 100%;
        cursor: pointer;

        > .image,
        > .picture{
          width: 100%;
          display: flex;

          > .picture > .image,
          > .image{
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    > .page{
      @include flex(row, center, center, 0.3rem);
      position: absolute;
      min-width: clamp(3rem, 4vw, 4rem);
      background-color: rgba(darken($global-gray-background-color, 30%), 50%);
      padding: clamp(0.3rem, 0.5vw, 0.5rem) clamp(0.6rem, 1vw, 1rem);
      border-radius: 999rem;
      font-size: clamp(0.7rem, 0.9vw, 0.9rem);
      right: 1%;
      bottom: 4%;
      color: $global-white-text-color;
      z-index: 10;

      > .total{
        color: rgba(lighten($global-white-text-color, 10%), 50%);
      }
    }
  }

  > .brand-recommend{
    @include flex(column, flex-start, flex-start, 1rem);
    width: 100%;
    margin: 2rem 0;

    > .caption{
      font-size: 1.3rem;
      font-weight: 700;
      font-family: 'GMarketSans';
      color: $global-gray-text-color;

      @media (max-width: 700px){
        font-size: 1.1rem;
      }
    }

    > .item-wrapper{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5rem;
      width: 100%;

      @media (max-width: 900px){
        grid-template-columns: repeat(3, 1fr);
      }

      > .item{
        @include flex(column, flex-start, flex-start, 0.5rem);

        > .image-wrapper{
          overflow: hidden;
          border: 0.0625rem solid lighten($global-gray-right-text-color, 45%);
          border-radius: 0.4rem;

          > .image {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            background-color: $global-green-background-color;
            transition: transform 0.3s ease;
            transform-origin: center center;
            display: block;
            cursor: pointer;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        > .content {
          font-size: 0.9rem;
          color: $global-gray-text-color;
          line-height: 1.3;
          font-family: 'GMarketSans';
          margin-bottom: 0.5em;
        }
      }
    }
  }

  > .new-product,
  > .best-product {
    @include flex(column, flex-start, flex-start, 1rem);
    width: 100%;
    margin: 2rem 0;

    > .category-wrapper{
      @include flex(row, center, center, 0.5rem);
      width: 100%;

      > .caption {
        font-size: 1.3rem;
        font-weight: 700;
        color: $global-gray-text-color;
        font-family: 'GMarketSans';

        @media (max-width: 700px){
          font-size: 1.1rem;
        }
      }

      > .category{
        @include flex(row, center, center, 0.5rem);

        > .item{
          @include flex(row, center, center);
          font-size: 0.9rem;
          font-weight: 500;
          background-color: $global-color-disabled;
          padding: 0.5rem 0.8rem 0.3rem 0.8rem;
          font-family: 'GMarketSans';
          border-radius: 999rem;
          cursor: pointer;

          @media (max-width: 700px) {
            padding: 0.3rem 0.6rem;
            font-size: 0.8rem;
          }

          > input[type="radio"]{
            display: none;
          }

          &:hover{
            background-color: darken($global-color-follow, 10%);
            color: $global-white-text-color;
          }

          &:has(input[type="radio"]:checked){
            background-color: darken($global-color-concept, 15%);
            color: $global-white-text-color;
          }
        }

        @media (max-width: 700px) {
          gap: 0.4rem;
        }
      }

      > .more-product{
        font-weight: 700;
        color: $global-green-text-color;
        cursor: pointer;
        margin-left: auto;

        &:hover{
          color: darken($global-green-text-color, 10%);
        }
      }
    }

    > .product {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      gap: 0.5rem;
      width: 100%;

      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      > .item {
        @include flex(column, flex-start, flex-start);
        cursor: pointer;
        padding-bottom: 0.5rem;

        > .image-wrapper {
          width: 100%;
          overflow: hidden;
          border-radius: 0.2rem;
          border: 0.0625rem solid lighten($global-gray-right-text-color, 45%);

          > .image {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            background-color: $global-green-background-color;
            transition: transform 0.3s ease;
            transform-origin: center center;
            display: block;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        > .brand{
          padding: 0.4rem 0 0.3rem 0;
          font-size: 0.8rem;
          font-weight: 500;
          color: lighten($global-gray-text-color, 40%);
        }

        > .name {
          padding: 0 0 0.5rem 0;
          font-size: 1rem;
          color: $global-gray-text-color;
          line-height: 1.2;
        }

        > .discount{
          @include flex(row, center, center, 0.3rem);

          > .percent{
            font-size: 0.9rem;
            padding-bottom: 0.2rem;
            font-weight: 600;
            color: $global-green-text-color;
          }

          > .number{
            font-size: 0.8rem;
            padding-bottom: 0.2rem;
            text-decoration: line-through;
            font-weight: 600;
            color: lighten($global-gray-right-text-color, 10%);
          }
        }

        > .price {
          font-size: 1.1rem;
          font-weight: 600;
          color: $global-black-text-color;
        }
      }
    }
  }
}