<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.dhkim.petlog.mappers.FeedMapper">
    <insert id="insertFeed" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `pet_log`.`feed`
            (user_id, title, content, like_count, comment_count, created_at, updated_at)
        VALUES
            (#{userId}, #{title}, #{content}, #{likeCount}, #{commentCount}, #{createdAt}, null)
    </insert>
    <select id="selectFeedsForScroll" resultType="dev.dhkim.petlog.vos.feed.FeedResponseVo">
        SELECT `t1`.`id` AS `id`,
        `t1`.`user_id` AS `userId`,
        `t1`.`title` AS `title`,
        `t1`.`content` AS `content`,
        `t1`.`like_count` AS `likeCount`,
        `t1`.`comment_count` AS `commentCount`,
        `t1`.`created_at` AS `createdAt`,
        `t1`.`updated_at` AS `updatedAt`,
        `t2`.`nickname` AS `nickname`
        FROM `pet_log`.`feed` AS `t1`
        LEFT JOIN `pet_log`.`personal_user` AS `t2`
        ON `t1`.`user_id` = `t2`.`user_id`
        <where>
            <if test="lastFeedId != null">
                id &lt; #{lastFeedId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{size}
    </select>
</mapper>