@import "def";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

body {
  @include flex(column, stretch, flex-start);
  min-height: 100%;
  background-color: $global-background-color;
  color: $global-black-text-color;
  cursor: default;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1;
  margin: initial;
  user-select: none;
}

button, input, select, textarea {
  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;
  margin: initial;
  margin-block: initial;
  margin-inline: initial;
  outline: none;
  padding: initial;
  padding-block: initial;
  padding-inline: initial;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

html {
  height: 100%;
}

img {
  -webkit-user-drag: none;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
}

#topNavigator{
  @include flex(row, center, flex-start, 1rem);
  background-color: $global-green-background-color;
  overflow: hidden;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;

  > .nav-wrapper{
    @include flex(row, center, flex-start, 1rem);
    width: 100%;

    > .logo{
      @include flex(row, center, flex-start, 1rem);
      color: $global-white-text-color;
      font-size: 1.5rem;
      font-weight: 600;
    }

    > .category{
      @include flex(row, center, flex-start, 1rem);

      > .item{
        font-size: 1.3rem;
        color: $global-white-text-color;
        font-weight: 600;
        padding: 0.5rem;

        &:hover,
        &:active{
          color: $global-yellow-text-color;
          cursor: pointer;
        }
      }
    }

    > .user{
      @include flex(row, center, flex-start, 1rem);
      margin-left: auto;

      > .item{
        font-size: 1.3rem;
        color: $global-white-text-color;
        font-weight: 600;
        padding: 0.5rem;

        &:hover,
        &:active{
          color: $global-yellow-text-color;
          cursor: pointer;
        }
      }
    }
  }
}

#category {
  @include flex(row, flex-end, space-between, clamp(0.5rem, 2vw, 1rem));
  width: 100%;

  > .menu {
    position: relative;
    flex-shrink: 0;

    > .main{
      > .list {
        @include flex(row, flex-start, flex-start, 1rem);

        > .item {
          font-size: 1.2rem;
          color: $global-gray-right-text-color;
          font-weight: 600;
          position: relative;
          padding: 0 1rem 0.5rem 1rem;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0.15rem;
            background-color: #38A34C;
            transition: width 0.2s ease;
          }

          > input[type="radio"]{
            display: none;
          }

          &:hover{
            font-weight: 700;
            color: $global-gray-text-color;

            &::after {
              width: 100%;
            }
          }

          &:has(input[type="radio"]:checked) {
            font-weight: 700;
            color: $global-gray-text-color;

            &::after {
              width: 100%;
            }
          }
        }

        > .menu-item-wrapper {
          position: relative;

          > .item {
            font-size: 1.2rem;
            color: $global-gray-right-text-color;
            font-weight: 600;
            position: relative;
            padding: 0 1rem 0.5rem 1rem;
            cursor: pointer;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 0.15rem;
              background-color: #38A34C;
              transition: width 0.2s ease;
            }

            > input[type="radio"]{
              display: none;
            }

            &:hover{
              font-weight: 700;
              color: $global-gray-text-color;

              &::after {
                width: 100%;
              }
            }

            &:has(input[type="radio"]:checked) {
              font-weight: 700;
              color: $global-gray-text-color;

              &::after {
                width: 100%;
              }
            }
          }

          > .submenu {
            @include flex(row, center, center, 1rem);
            display: none;
            position: absolute;
            z-index: 999;
            width: 24rem;
            height: 3rem;
            background-color: $global-white-text-color;
            top: calc(100% + 0.6rem);
            left: 0;

            > .list{
              @include flex(row, center, center, 1rem);
              padding: 1rem 3rem;
              width: 100%;

              > .item{
                font-size: 1rem;
                color: $global-gray-right-text-color;
                font-weight: 600;
                cursor: pointer;
                margin: 0 1rem;
                position: relative;

                > input[type="radio"]{
                  display: none;
                }

                &:hover,
                &:has(input[type="radio"]:checked){
                  color: $global-gray-text-color;
                }

                &::after{
                  content: "";
                  position: absolute;
                  right: -1.5rem;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 0.0625rem;
                  height: 1rem;
                  background-color: #00000020;
                }

                &:last-child::after{
                  display: none;
                }
              }
            }
          }

          &:has(.item[data-target="dog"]:hover),
          &:has(.submenu.dog:hover){
            .submenu.dog {
              display: flex;
            }

            > .item[data-target="dog"]{
              font-weight: 700;
              color: $global-gray-text-color;

              &::after{
                width: 100%;
              }
            }
          }

          &:has(.item[data-target="cat"]:hover),
          &:has(.submenu.cat:hover){
            .submenu.cat {
              display: flex;
            }

            > .item[data-target="cat"]{
              font-weight: 700;
              color: $global-gray-text-color;

              &::after{
                width: 100%;
              }
            }
          }

          &:has(.item[data-target="etc"]:hover),
          &:has(.submenu.etc:hover){
            .submenu.etc {
              display: flex;
            }

            > .item[data-target="etc"]{
              font-weight: 700;
              color: $global-gray-text-color;

              &::after{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  > .search{
    @include flex(row, stretch, flex-start);
    border: 0.0625rem solid #5F646620;
    border-radius: 999rem;
    height: 2.7rem;
    width: clamp(15rem, 35vw, 30rem);
    overflow: hidden;

    > .search-wrapper{
      @include flex(row, flex-start, stretch);
      flex: 1;
      background-color: #ffffff;
      height: 100%;
      padding: 0 2rem;

      > .search-box{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
      }
    }

    > .submit{
      @include flex(row, center, center);
      width: 3rem;
      height: 100%;
      background-color: #89CC96;
      padding: 0 0.7rem;
      cursor: pointer;

      > .image{
        width: 1.5rem;
      }
    }
  }
}