@use "sass:color";
@import "def";

#topNavigator > .nav-wrapper > .user > .friend-wrapper {
  position: relative;

  > .view-btn {
    cursor: pointer;
  }

  > .view {
    @include flex(column, center, center);
    position: absolute;
    top: 100%;
    left: 0;
    width: 25rem;
    height: 40rem;
    border-radius: 0.5rem;
    background-color: white;
    color: $global-gray-text-color;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.22);
    pointer-events: none;
    z-index: 8;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 150ms;
    transform: translateY(0);

    &.active {
     transform: translateY(1.5rem);
      cursor: default;
      pointer-events: auto;
      opacity: 1;
    }

    > .friend-container{
      display: none;

      &.active {
        @include flex(column, flex-start, center, 0.5rem);
        width: 100%;
        flex: 1;
        padding: 1.2rem 1.2rem;
      }

      > .friend-option {
        @include flex(row, center, flex-start, 0.5rem);
        width: 100%;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 0.0625rem solid $global-gray-text-color;

        > .sort {
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 300;
          &.active {
            font-weight: 500;
          }
        }
      }

      > .friend-list {
        @include flex(column, flex-start, flex-start, 0.3rem);
        width: 100%;
        flex: 1;
        > .item {
          @include flex(row, center, flex-start, 2rem);
          position: relative;
          width: 100%;
          padding: 0.8rem 0.375rem;
          &:hover {
            background-color: #e7e5e4;
          }
          > img {
            width: 3rem;
            height: 3rem;
            border-radius: 1.125rem;
          }
          > .user-name {
            font-size: 1rem;
            font-weight: 800;
          }
        }
      }
    }

    > .chat-container{
      display: none;

      &.active {
        @include flex(column, flex-start, center, 0.5rem);
        width: 100%;
        flex: 1;
        padding: 1.2rem 1.2rem;
      }

      > .chat-option {
        @include flex(row, center, flex-start, 0.5rem);
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 0.0625rem solid $global-gray-text-color;

        > svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      > .chat-list {
        @include flex(column, flex-start, flex-start, 0.3rem);
        width: 100%;
        flex: 1;
        > .item {
          @include flex(row, center, flex-start, 1rem);
          position: relative;
          width: 100%;
          padding: 0.8rem 0.375rem;
          &:hover {
            background-color: #e7e5e4;
          }
          > img {
            width: 3rem;
            height: 3rem;
            border-radius: 1.125rem;
          }
          > .text {
            @include flex(column, flex-start, flex-start, 0.3rem);
            > .room-name {
              font-size: 0.9rem;
              font-weight: 800;
            }
            > .room-content {
              font-size: 0.8rem;
              font-weight: 400;
            }
          }
          > .date {
            position: absolute;
            font-size: 0.8rem;
            font-weight: 400;
            top: 0.9rem;
            right: 0.3rem;
          }
        }
      }
    }

    > .buttons{
      @include flex(row, center, stretch, 0.5rem);
      width: 100%;
      padding: 1.2rem 1.2rem;
      pointer-events: auto;

      > button {
        flex: 1;
        background-color: #e7e5e4;
        color: black;
        padding: 0.3rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          background-color: darken(#e7e5e4, 5%);
        }
        &.active {
          background-color: $global-yellow-text-color;
        }
      }
    }
  }
}