<div id="chatRoot"
     th:fragment="chatModal"
     th:attr="data-user-id=${sessionUser != null ? sessionUser.userId : 0}">

    <link rel="stylesheet" href="/assets/styles/chat.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script defer src="/assets/scripts/chat.js"></script>

    <!-- chat 버튼 -->
    <button class="chat-launcher" id="chatBtn">
        <span class="label">CHAT</span>
    </button>

    <!-- 친구목록 및 채팅방리스트 모달-->
    <div id="chatListModal" class="chat-list-modal hidden">
        <div class="view">
            <div class="friend-container active">
                <div class="friend-option">
                    <span>친구</span>
                    <div class="-flex-stretch"></div>
                    <button class="sort abc active" type="button">가나다 순</button>
                    <button class="sort time" type="button">팔로우 순</button>
                </div>
                <ul class="chat-friend-list">
<!--                    <li class="item">-->
<!--                        <img src="/feed/images/explore/user.png" alt="">-->
<!--                        <span class="user-name">김띵똥</span>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="chat-container">
                <div class="chat-option">
                    <span>채팅</span>
                    <div class="-flex-stretch"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </div>
                <ul class="chat-list">
<!--                    <li class="item">-->
<!--                        <img src="/feed/images/explore/user.png" alt="">-->
<!--                        <div class="text">-->
<!--                            <span class="room-name">김띵똥</span>-->
<!--                            <span class="room-content">레전드 사건 발생</span>-->
<!--                        </div>-->
<!--                        <span class="date">2026-02-02</span>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="buttons">
                <button type="button" class="friend active">친구</button>
                <button type="button" class="chat">채팅</button>
            </div>
        </div>
    </div>

<!-- 채팅창 모달 -->
    <div id="chatRoomModal" class="chat-room-modal hidden">
        <div class="chat-container">

            <div class="chat-header">
                <span class="chat-title">채팅</span>
                <button class="chat-close">&times;</button>
            </div>

            <div class="chat-messages"></div>

            <div class="chat-input">
                <input type="text" id="chatInput" placeholder="메세지를 입력하세요">
                <button id="chatSendBtn">전송</button>
            </div>
        </div>
    </div>
</div>