<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script defer src="/assets/scripts/fragment.js"></script>
</head>
<body>
<nav id="topNavigator" th:fragment="topNavigator" th:with="isSigned = ${session.sessionUser != null}">
    <div class="nav-wrapper">
        <div class="logo">Pet-Log</div>
        <div class="category">
            <a href="/main" class="item">지도</a>
            <a href="/feed/explore" class="item">피드</a>
            <a href="/shop/main" class="item">쇼핑</a>
        </div>
        <div class="user">
            <a href="#" class="item">채팅</a>
            <a href="#" class="item">친구</a>
            <a href="/shop/cart" class="item">장바구니</a> <!--쇼핑몰에 노출-->
            <div class="item friend-wrapper">
                <button type="button" class="view-btn">친구</button>

                <!--<div class="view">
                    <div class="friend-container active">
                        <div class="friend-option">
                            <span>친구</span>
                            <div class="-flex-stretch"></div>
                            <button class="sort abc active" type="button">가나다 순</button>
                            <button class="sort time" type="button">팔로우 순</button>
                        </div>
                        <ul class="friend-list">
                            <li class="item">
                                <img src="/feed/images/explore/user.png" alt="">
                                <span class="user-name">김띵똥</span>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-container">
                        <div class="chat-option">
                            <span>채팅</span>
                            <div class="-flex-stretch"></div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>
                        </div>
                        <ul class="chat-list">
                            <li class="item">
                                <img src="/feed/images/explore/user.png" alt="">
                                <div class="text">
                                    <span class="room-name">김띵똥</span>
                                    <span class="room-content">레전드 사건 발생</span>
                                </div>
                                <span class="date">2026-02-02</span>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons">
                        <button type="button" class="friend active">친구</button>
                        <button type="button" class="chat">채팅</button>
                    </div>
                </div>-->
            </div>
            <a href="#" class="item">마이페이지</a>
            <a href="#" class="item">로그아웃</a>
            <a href="/user/login" class="item">로그인</a>
            <a href="/cs" class="item">고객센터</a>
        </div>
    </div>
</nav>
</body>
</html>