<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="footer" id="footer" th:fragment="footer">
    <div class="cs-wrapper">
        <div class="service-center">고객센터 ></div>
        <div class="service-num">02-1234-5678</div>
        <ul class="info-list">
            <li class="item">평일 09:00 ~ 18:00</li>
            <li class="item">점심시간 12:00 ~ 13:00</li>
            <li class="item">주말, 공휴일 휴무</li>
        </ul>
        <div class="service-email">support@service.com</div>
    </div>
    <div class="compony-wrapper">
        <div class="terms">
            <div class="service">이용약관</div>
            <div class="security">개인정보처리방침</div>
        </div>
        <div class="info">
            <div class="item">(주)팀이름 ㅣ 대표이사 김박 ㅣ 대구광역시 중구 중앙대로 366, 10층 A</div>
            <div class="item">사업자등록번호 111-11-11111 ㅣ 통신판매업신고번호 제2026-대구중구-1111호</div>
            <div class="sub-item">고객님이 현금결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.</div>
            <div class="sub-item">Copyright 2026. kimpark, Co., Ltd. All rights reserved.</div>
        </div>
    </div>
</div>
</body>
</html>