<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.dhkim.petlog.mappers.shop.CategoryMapper">
    <select id="selectAll" resultType="dev.dhkim.petlog.entities.shop.CategoryEntity">
        SELECT
            `id`,
            `display_text` AS displayText
        FROM `petlog`.`category`
        ORDER BY `id`
    </select>
</mapper>