<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.dhkim.petlog.mappers.shop.PointMapper">
    <select id="getAvailablePoint" resultType="int">
        SELECT COALESCE(SUM(`change`), 0)
        FROM `petlog`.`point`
        WHERE user_id = #{userId}
    </select>
    <select id="selectAllPointEarnByUserId" resultType="dev.dhkim.petlog.entities.shop.PointEntity">
        SELECT `id`          AS id,
               `user_id`     AS userId,
               `type`        AS type,
               `change`      AS `change`,
               `order_id`    AS orderId,
               `description` AS description,
               `expire_date` AS expireDate,
               `created_at`  AS createdAt
        FROM `petlog`.`point`
        WHERE `user_id` = #{userId}
          AND `type` = 'EARN'
        ORDER BY `createdAt` DESC
    </select>
    <select id="selectAllPointUseByUserId" resultType="dev.dhkim.petlog.entities.shop.PointEntity">
        SELECT `id`          AS id,
               `user_id`     AS userId,
               `type`        AS type,
               `change`      AS `change`,
               `order_id`    AS orderId,
               `description` AS description,
               `expire_date` AS expireDate,
               `created_at`  AS createdAt
        FROM `petlog`.`point`
        WHERE `user_id` = #{userId}
          AND `type` = 'USE'
        ORDER BY `createdAt` DESC
    </select>
</mapper>