<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>피드 작성 페이지</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/feed/style/create.css">
    <script th:inline="javascript">
        const existingMedia = [[${mediaList}]];
    </script>
    <script defer src="/feed/script/create.js"></script>
    <script defer src="/assets/scripts/common.js"></script>
</head>
<body th:data-mode="${mode}"
      th:data-feed-id="${feed != null ? feed.feedId : ''}">

<div th:replace="~{fragments/common :: topNavigator}"></div>

<div class="cover"></div>
<div class="message" id="message">
    <button type="button" class="button">확인</button>
</div>

<main id="main">
    <form id="form">
    <section class="contents-container">
        <div class="thumbnail">
            <label class="new-content">
                <span class="caption">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi upload" viewBox="0 0 16 16">
                      <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M7.5 6.707 6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0z"/>
                    </svg>
                    <span>새로운 사진이나 동영상을 업로드하세요</span>
                </span>
                <input type="file" accept="image/*,video/*">
            </label>
            <img src="" alt="">
            <video src="" loop autoplay muted></video>

            <ul class="preview">
                <li class="new-content">
                    <label>
                        <input type="file" accept="image/*,video/*">
                    </label>
                    <button type="button" class="add-btn">+</button>
                </li>
<!--                <li class="content">-->
<!--                    <button type="button" class="cancel-btn">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                             class="bi cancel" viewBox="0 0 16 16">-->
<!--                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>-->
<!--                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>-->
<!--                        </svg>-->
<!--                    </button>-->
<!--                </li>-->
            </ul>
        </div>
    </section>

    <section class="info-container">
        <div class="information">
            <label class="title">
                <span>제목</span>
                <input name="title" type="text" placeholder="제목을 작성하세요" data-object="input"
                th:value="${feed != null ? feed.title : ''}">
            </label>
            <label class="description">
                <span>설명</span>
                <textarea name="description" placeholder="자세한 설명을 추가하세요" data-object="input"
                th:text="${feed != null ? feed.content : ''}"></textarea>
            </label>
            <div class="form-actions">
                <button type="submit" class="submit-btn" data-object="button" data-color="green">게시하기</button>
            </div>
        </div>
    </section>
    </form>
</main>
<div th:replace="~{fragments/chat :: chatModal}"></div>
</body>
</html>