<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/brand.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/shop/assets/scripts/brand.js"></script>
    <script defer src="/assets/scripts/shop-fragment.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<div id="brand">
    <th:block th:replace="~{/fragments/shop.html :: category}"></th:block>
    <div class="brand-product">
        <div class="brand-info">
            <div class="name">올리</div>
        </div>
        <div class="best-product">
            <div class="caption">BEST</div>
            <div class="product"></div>
        </div>
        <div class="all-product">
            <div class="navi">
                <div class="title">
                    <div class="text">전체</div>
                    <div class="count">32개</div>
                </div>
                <label class="filter">
                    <select class="product-filter">
                        <option value="latest">최신순</option>
                        <option value="popular">판매순</option>
                        <option value="price_low">낮은가격순</option>
                        <option value="price_high">높은가격순</option>
                        <option value="review">리뷰 많은순</option>
                    </select>
                </label>
            </div>
            <div class="product"></div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/chat :: chatModal}"></div>
</body>
</html>