<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PetLog-반려동물 용품샵</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/main.css">
    <script defer src="/shop/assets/scripts/main.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<div id="main">
    <th:block th:replace="~{/fragments/shop.html :: category}"></th:block>
    <div class="banner-wrapper">
        <ul class="img-wrapper">
            <li class="item">
                <picture class="picture">
                    <source class="mobile" media="(max-width: 890px" srcset="/shop/assets/images/mobile-banner-1.png">
                    <img class="image" src="https://shop-phinf.pstatic.net/20240112_67/1705037210370z08eq_PNG/%C0%AF%BB%EA%B1%D5_PC.png" alt="배너 이미지"/>
                </picture>
            </li>
            <li class="item">
                <picture class="picture">
                    <source class="mobile" media="(max-width: 890px" srcset="/shop/assets/images/mobile-banner-2.png">
                    <img class="image" src="https://shop-phinf.pstatic.net/20240112_253/1705037257577Ta3Uj_PNG/%B3%EB%C1%EE%BF%F6%C5%A9.png" alt="배너 이미지"/>
                </picture>
            </li>
            <li class="item">
                <picture class="picture">
                    <source class="mobile" media="(max-width: 890px" srcset="/shop/assets/images/mobile-banner-3.png">
                    <img class="image" src="https://shop-phinf.pstatic.net/20240112_15/1705037651218QOtVa_PNG/%B9%CC%C6%AE%C6%CE_%C3%E2%BD%C3_PC.png" alt="배너 이미지"/>
                </picture>
            </li>
        </ul>
        <button class="button previous" type="button">
            <img class="image previous" src="/shop/assets/images/previous.png" alt="이전">
        </button>
        <button class=" button next" type="button">
            <img class="image next" src="/shop/assets/images/next.png" alt="다음">
        </button>
        <div class="page"></div>
    </div>
    <div class="new-product">
        <div class="category-wrapper">
            <div class="caption">NEW</div>
            <div class="category">
                <label class="item">
                    <input type="radio" name="new-category" value="all" checked> ALL
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="사료"> 사료
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="간식"> 간식
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="용품"> 용품
                </label>
            </div>
        </div>
        <div class="product">
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="상품1">
                <div class="name">강아지 사료 1kg</div>
                <div class="discount">
                    <div class="percent">20%</div>
                    <div class="number">25,000원</div>
                </div>
                <div class="price">25,000원</div>
            </div>
        </div>
    </div>

    <div class="best-product">
        <div class="category-wrapper">
            <div class="caption">BEST</div>
            <div class="category">
                <label class="item">
                    <input type="radio" name="best-category" value="all" checked> ALL
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="사료"> 사료
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="간식"> 간식
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="용품"> 용품
                </label>
            </div>
        </div>
        <div class="product">
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트1">
                <div class="name">프리미엄 강아지 사료</div>
                <div class="price">52,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트2">
                <div class="name">고양이 자동 급식기</div>
                <div class="price">89,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트3">
                <div class="name">반려동물 캐리어</div>
                <div class="price">65,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트4">
                <div class="name">강아지 이동 가방</div>
                <div class="price">48,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트5">
                <div class="name">고양이 타워</div>
                <div class="price">125,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트6">
                <div class="name">애견 방석</div>
                <div class="price">32,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트7">
                <div class="name">반려동물 빗</div>
                <div class="price">15,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트8">
                <div class="name">강아지 샴푸</div>
                <div class="price">24,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트9">
                <div class="name">고양이 모래</div>
                <div class="price">18,000원</div>
            </div>
            <div class="item">
                <img class="image" src="https://images.pet-friends.co.kr/storage/pet_friends/product/id/4/b/1/a/a/b/8/4b1aab88b1fe597181c2eb02c0ee8883/10000/b853e1efb357de1e59f512c65c823162.png" alt="베스트10">
                <div class="name">애견 영양제</div>
                <div class="price">42,000원</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>