<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PetLog-반려동물 용품샵</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/main.css">
    <script defer src="/shop/assets/scripts/main.js"></script>
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/shop-fragment.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<div id="main">
    <th:block th:replace="~{/fragments/shop.html :: category}"></th:block>
    <div class="banner-wrapper">
        <ul class="img-wrapper"></ul>
        <button class="button previous" type="button">
            <img class="image previous" src="/shop/assets/images/previous.png" alt="이전">
        </button>
        <button class=" button next" type="button">
            <img class="image next" src="/shop/assets/images/next.png" alt="다음">
        </button>
        <div class="page"></div>
    </div>

    <div class="brand-recommend">
        <div class="caption">유저들이 픽한 브랜드!</div>
        <div class="item-wrapper">
            <div class="item" th:each="ad : ${advertisements}"
                 th:data-brand-name="${ad.brandName}"
                 style="cursor: pointer;">
                <div class="image-wrapper">
                    <img class="image" th:src="${ad.imageUrl}" th:alt="${ad.brandName}">
                </div>
                <div class="content" th:text="${ad.content}"></div>
            </div>
        </div>
    </div>

    <div class="best-product">
        <div class="category-wrapper">
            <div class="caption">BEST</div>
            <div class="category">
                <label class="item">
                    <input type="radio" name="best-category" value="all" checked> ALL
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="사료"> 사료
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="간식"> 간식
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="용품"> 용품
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="의류"> 의류
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="미용"> 미용
                </label>
                <label class="item">
                    <input type="radio" name="best-category" value="장난감"> 장난감
                </label>
            </div>
            <div class="more-product">더보기</div>
        </div>
        <div class="product"></div>
    </div>

    <div class="new-product">
        <div class="category-wrapper">
            <div class="caption">NEW</div>
            <div class="category">
                <label class="item">
                    <input type="radio" name="new-category" value="all" checked> ALL
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="사료"> 사료
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="간식"> 간식
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="용품"> 용품
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="의류"> 의류
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="미용"> 미용
                </label>
                <label class="item">
                    <input type="radio" name="new-category" value="장난감"> 장난감
                </label>
            </div>
            <div class="more-product">더보기</div>
        </div>
        <div class="product"></div>
    </div>
</div>
<div th:replace="~{fragments/chat :: chatModal}"></div>
</body>
</html>