<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/order.css">
    <script defer src="/shop/assets/scripts/main.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<div class="order-success-info-wrapper">
    <h2>결제에 실패했습니다.</h2>
    <div class="a-wrapper">
        <a href="/shop/cart">장바구니로 돌아가기</a>
    </div>
</div>
</body>
</html>