<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주문/결제</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/payment.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/shop/assets/scripts/main.js"></script>
    <script defer src="/shop/assets/scripts/payment.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<div class="address-cover"></div>
<div class="address-container" id="address-wrapper">
    <button type="button" class="button">
        <img class="image" src="/shop/assets/images/cancelButton.png" alt="">
    </button>
    <div id="address-container"></div>
</div>
<!--배송지 삭제 메시지 모달-->
<div class="deliveryMessage-cover"></div>
<div class="deliveryAddressDeleteMessage" id="deliveryAddressDeleteMessage">
    <div class="button-wrapper">
        <button type="button" class="no">취소</button>
        <button type="button" class="yes">삭제</button>
    </div>
</div>

<!--배송지 변경 모달-->
<div class="cover"></div>
<div class="delivery-change-modal" id="delivery-change-modal">
    <div class="modal-cover"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="title">배송지 변경</h2>
            <button type="button" class="close-btn">
                <img class="image" src="/shop/assets/images/cancelButton.png" alt="">
            </button>
        </div>
        <div class="modal-body">
            <div class="delivery-list">
                <div class="delivery-item" th:each="deliveryAddress : ${allDeliveryAddress}" th:if="${deliveryAddress != null}" th:attr="data-delivery-address-id=${deliveryAddress.getDeliveryAddressId()},
                          data-delivery-name=${deliveryAddress.getDeliveryName()},
                          data-receiver-name=${deliveryAddress.getReceiverName()},
                          data-phone=${deliveryAddress.getPhone()},
                          data-postal-code=${deliveryAddress.getPostalCode()},
                          data-address-primary=${deliveryAddress.getAddressPrimary()},
                          data-address-secondary=${deliveryAddress.getAddressSecondary()}">
                    <div class="item-content">
                        <div class="item-header">
                            <span class="delivery-name" th:text="${deliveryAddress.getDeliveryName()}"></span>
                            <span class="default-badge" th:if="${deliveryAddress.isDefault()}">기본배송지</span>
                        </div>
                        <div class="recipient" th:text="${deliveryAddress.getReceiverName()}"></div>
                        <div class="address">
                            <span class="postal" th:text="'[' + ${deliveryAddress.postalCode} + ']'"></span>
                            <span class="addr" th:text="${deliveryAddress.getAddressPrimary()}"></span>
                        </div>
                        <div class="detail-addr" th:text="${deliveryAddress.getAddressSecondary()}"></div>
                        <div class="phone" th:text="${deliveryAddress.getPhone()}"></div>
                        <div class="item-actions">
                            <div class="left-actions">
                                <button type="button" class="delete-btn">삭제</button>
                                <button type="button" class="edit-btn">수정</button>
                            </div>
                            <button type="button" class="select-btn">선택</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="add-btn">추가하기</button>
        </div>
    </div>
    <div class="delivery-registration">
        <div class="modal-header">
            <h2 class="title">배송지 등록</h2>
            <button type="button" class="close-btn">
                <img class="image" src="/shop/assets/images/cancelButton.png" alt="">
            </button>
        </div>
        <div class="registration-wrapper">
            <div class="AddressName-wrapper">
                <span class="name">배송지명</span>
                <input class="AddressNameInput" type="text" placeholder="배송지명을 입력해주세요.">
            </div>
            <div class="name-wrapper">
                <span class="name">받는 사람</span>
                <input class="nameInput" type="text" placeholder="받는 분의 성함을 입력해주세요.">
            </div>
            <label class="label">
                <span class="title">주소</span>
                <input disabled class="postalCode input" type="text" placeholder="우편번호">
                <button class="button">주소 검색</button>
            </label>
            <label class="label">
                <span class="title"></span>
                <input disabled class="addressPrimary input" type="text" placeholder="기본주소">
            </label>
            <label class="label">
                <span class="title"></span>
                <input class="addressSecondary input" type="text" placeholder="상세주소">
            </label>
            <label class="contactNumberLabel label">
                <span class="title">전화번호</span>
                <span class="number-wrapper">
                    <select class="firstNumber" name="firstNumber">
                        <option selected value="010">010</option>
                    </select>
                    <span>-</span>
                    <input autocomplete="off" spellcheck="false" class="contactNumber first input" name="middle"
                           maxlength="4" minlength="4" inputmode="numeric" placeholder="0000" type="tel">
                    <span>-</span>
                    <input autocomplete="off" spellcheck="false" class="contactNumber second input" name="last"
                           maxlength="4" minlength="4" inputmode="numeric" placeholder="0000" type="tel">
                </span>
            </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="registrationButton">등록</button>
        </div>
    </div>
</div>
<div class="delivery-address-modify-modal" id="delivery-address-modify-modal">
    <div class="modal-cover"></div>
    <div class="delivery-address-modify">
        <div class="modal-header">
            <h2 class="title">배송지 수정</h2>
            <button type="button" class="close-btn">
                <img class="image" src="/shop/assets/images/cancelButton.png" alt="">
            </button>
        </div>
        <div class="delivery-modify-wrapper">
            <div class="AddressName-wrapper">
                <span class="name">배송지명</span>
                <input class="AddressNameInput" type="text" placeholder="배송지명을 입력해주세요.">
            </div>
            <div class="name-wrapper">
                <span class="name">받는 사람</span>
                <input class="nameInput" type="text" placeholder="받는 분의 성함을 입력해주세요.">
            </div>
            <label class="label">
                <span class="title">주소</span>
                <input disabled class="postalCode input" type="text" placeholder="우편번호">
                <button class="button">주소 검색</button>
            </label>
            <label class="label">
                <span class="title"></span>
                <input disabled class="addressPrimary input" type="text" placeholder="기본주소">
            </label>
            <label class="label">
                <span class="title"></span>
                <input class="addressSecondary input" type="text" placeholder="상세주소">
            </label>
            <label class="contactNumberLabel label">
                <span class="title">전화번호</span>
                <span class="number-wrapper">
                    <select class="firstNumber" name="firstNumber">
                        <option selected value="010">010</option>
                    </select>
                    <span>-</span>
                    <input autocomplete="off" spellcheck="false" class="contactNumber first input" name="middle"
                           maxlength="4" minlength="4" inputmode="numeric" placeholder="0000" type="tel">
                    <span>-</span>
                    <input autocomplete="off" spellcheck="false" class="contactNumber second input" name="last"
                           maxlength="4" minlength="4" inputmode="numeric" placeholder="0000" type="tel">
                </span>
            </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="modifyButton">수정</button>
        </div>
    </div>
</div>

<form id="payment">
    <div class="info-wrapper">
        <h1 class="title">주문/결제</h1>
        <div class="orderer-info">
            <div class="title">주문자</div>
            <label class="name-wrapper">
                <span class="title">이름</span>
                <input class="input" type="text"
                       th:value="${ordererInfo != null ? ordererInfo.get('name') : ''}">
            </label>
            <label class="phone-wrapper">
                <span class="title">전화번호</span>
                <select class="num-select">
                    <option th:selected="${ordererInfo != null and ordererInfo.get('phone') != null and ordererInfo.get('phone').toString().startsWith('010')}">010</option>
                    <option th:selected="${ordererInfo != null and ordererInfo.get('phone') != null and ordererInfo.get('phone').toString().startsWith('011')}">011</option>
                    <option>016</option>
                    <option>017</option>
                    <option>018</option>
                    <option>019</option>
                </select>
                <input class="input" type="text"
                       th:value="${ordererInfo != null and ordererInfo.get('phone') != null ? ordererInfo.get('phone').toString().substring(3) : ''}">
            </label>
        </div>
        <div class="delivery-info">
            <div class="delivery-header">
                <span class="title">배송지</span>
                <span class="action">
                    <span class="paste">위와 동일하게 채우기</span>
                    <span class="change">변경</span>
                </span>
            </div>
            <label class="orderer-name">
                <span class="title">받는 사람</span>
                <input class="input" type="text">
            </label>
            <label class="phone-num">
                <span class="title">전화번호</span>
                <select class="num-select">
                    <option class="item">010</option>
                    <option class="item">011</option>
                    <option class="item">016</option>
                    <option class="item">017</option>
                    <option class="item">018</option>
                    <option class="item">019</option>
                </select>
                <input class="input" type="text">
            </label>
            <div class="address-info" id="addressInfo">
                <div class="title">주소</div>
                <div class="address-wrapper">
                    <div class="header-wrapper">
                    <span class="field">
                        <button class="search-btn" type="button">주소찾기</button>
                        <span class="postal-code"></span>
                    </span>
                    </div>
                    <div class="about-address"></div>
                    <label class="detail-address">
                        <input class="detail" type="text">
                    </label>
                    <label class="delivery-message">
                        <span class="message-wrapper">
                            <input class="direct" type="text">
                            <select class="message-label">
                                <option class="" disabled selected hidden>배송시 요청사항을 선택해주세요.</option>
                                <option class="item">부재시 문앞에 놓아주세요</option>
                                <option class="item">배송전에 미리 연락주세요</option>
                                <option class="item">부재시 경비실에 맡겨 주세요</option>
                                <option class="item">부재시 전화주시거나 문자 남겨 주세요</option>
                                <option class="custom">직접 입력</option>
                            </select>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="order-product">
            <div class="title">주문상품</div>
            <div class="product-wrapper"
                 th:each="item : ${selectedItems}"
                 th:data-product-id="${item.get('productId')}"
                 th:data-option-id="${item.get('optionId')}"
                 th:data-quantity="${item.get('quantity')}"
                 th:data-price="${((item.get('discountPrice') != null and item.get('discountPrice') > 0 ? item.get('discountPrice') : item.get('price')) + (item.get('additionalPrice') ?: 0)) * item.get('quantity')}">
                <img class="image"
                     th:src="${item.get('imageUrl') != null ? item.get('imageUrl') : '/shop/assets/images/product.png'}"
                     alt="">
                <div class="product-info">
                    <div class="product-name">
                        <span class="brand" th:text="'[' + ${item.get('brand')} + ']'">[레토]</span>
                        <span class="name" th:text="${item.get('productName')}">강아지 장난감 노즈워크 움직이는 스낵몰</span>
                    </div>
                    <div class="option" th:if="${item.get('optionName') != null}" th:text="${item.get('optionName')}">노란색</div>
                    <div class="price-info">
                    <span class="price" th:with="base=${item.get('discountPrice') != null and item.get('discountPrice') > 0 ? item.get('discountPrice') : item.get('price')},                   add=${item.get('additionalPrice') ?: 0}"
                          th:text="${#numbers.formatInteger((base + add) * item.get('quantity'), 0, 'COMMA') + '원'}">
                    </span>
                        <span class="quantity" th:text="${item.get('quantity')} + '개'">1개</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="discount">
            <div class="title">쿠폰 및 포인트</div>
            <label class="coupon">
                <span class="title">쿠폰</span>
                <select class="coupon-list" id="coupon-select">
                    <option value="" selected>적용 안함</option>
                    <option th:each="coupon : ${availableCoupons}"
                            th:value="${coupon.get('userCouponId')}"
                            th:data-discount-type="${coupon.get('discountType')}"
                            th:data-discount-value="${coupon.get('discountValue')}"
                            th:data-min-order="${coupon.get('minOrderAmount')}"
                            th:data-max-discount="${coupon.get('maxDiscountAmount')}"
                            th:classappend="${coupon.get('minOrderAmount') > 0} ? 'coupon-unavailable'"
                            th:text="${coupon.get('name') +
                            (coupon.get('discountType').toString().toUpperCase().equals('AMOUNT') ?
                            ' (' + #numbers.formatInteger(coupon.get('discountValue'), 0, 'COMMA') + '원 할인)' :
                            ' (' + coupon.get('discountValue') + '% 할인)')}">
                    </option>
                </select>
            </label>
            <div class="point">
                <div class="title">포인트</div>
                <div class="point-wrapper">
                    <label class="point-input">
                        <input class="input" type="text" placeholder="0">
                        <button class="button" type="button">전액 사용</button>
                    </label>
                    <div class="remain">
                        <span class="title">사용 가능 포인트</span>
                        <span class="amount"
                              th:text="${#numbers.formatInteger(availablePoint, 0, 'COMMA') + 'P'}"
                              th:data-point="${availablePoint}">0P</span>
                    </div>                </div>
            </div>
        </div>
        <div class="payment-method">
            <div class="title">결제수단</div>
            <div class="btn-wrapper">
                <button class="card">
                    <img class="image" src="/shop/assets/images/card.png" alt="">
                    <span class="description">신용/체크카드</span>
                </button>
                <button class="phone">
                    <img class="image" src="/shop/assets/images/phone.png" alt="">
                    <span class="description">휴대폰 결제</span>
                </button>
                <button class="transfer">
                    <img class="image" src="/shop/assets/images/transfer.png" alt="">
                    <span class="description">계좌이체</span>
                </button>
            </div>
        </div>
    </div>
    <div class="summary-wrapper">
        <div class="summary">
            <div class="price all">
                <div class="title">총 상품금액</div>
                <div class="result" th:text="${#numbers.formatInteger(totalPrice - totalDiscount, 0, 'COMMA')} + '원'">0원</div>
            </div>
            <div class="price ship-price">
                <div class="title">배송비</div>
                <div class="result" th:text="'+' + ${#numbers.formatInteger(totalDeliveryFee, 0, 'COMMA') + '원'}">0원</div>
            </div>
            <div class="price discount-coupon">
                <div class="title">쿠폰 사용</div>
                <div class="result">0원</div>
            </div>
            <div class="price discount-point">
                <div class="title">포인트 사용</div>
                <div class="result">0원</div>
            </div>
            <div class="price payment-price">
                <div class="title">결제금액</div>
                <div class="result" th:text="${#numbers.formatInteger(finalAmount, 0, 'COMMA') + '원'}">0원</div>
            </div>
        </div>
        <script src="https://js.tosspayments.com/v1/payment"></script>
        <button class="payment" type="button" th:text="${#numbers.formatInteger(finalAmount, 0, 'COMMA') + '원 결제하기'}">19,303원 결제하기</button>
    </div>
</form>
<div th:replace="~{fragments/chat :: chatModal}"></div>
</body>
</html>