<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/product.css">
    <script defer src="/shop/assets/scripts/main.js"></script>
    <script defer src="/shop/assets/scripts/product.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<div id="product">
    <div class="container">
        <th:block th:replace="~{/fragments/shop.html :: category}"></th:block>
        <div class="overview">
            <div class="preview">
                <div class="img-container">
                    <img class="image" src="/shop/assets/images/product.png" alt="">
                </div>
                <div class="img-container">
                    <img class="image" src="/shop/assets/images/product.png" alt="">
                </div>
            </div>
            <div class="image-wrapper">
                <img class="image" src="/shop/assets/images/product.png" alt="">
            </div>
            <form class="content">
                <div class="info">
                    <div class="description-wrapper">
                        <div class="text-description">
                            <div class="company">레보</div>
                            <div class="product-name">강아지 장난감 노즈워크 움직이는 스낵볼</div>
                        </div>
                        <div class="image-wrapper">
                            <img class="image bookmark" src="/shop/assets/images/heart-default.png" alt="">
                            <img class="image share" src="/shop/assets/images/share.png" alt="">
                        </div>
                    </div>
                    <div class="review-wrapper">
                        <div class="star-wrapper">
                            <svg class="star filled" viewBox="0 0 24 24">
                                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                            </svg>
                            <svg class="star filled" viewBox="0 0 24 24">
                                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                            </svg>
                            <svg class="star filled" viewBox="0 0 24 24">
                                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                            </svg>
                            <svg class="star filled" viewBox="0 0 24 24">
                                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                            </svg>
                            <svg class="star filled" viewBox="0 0 24 24">
                                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                            </svg>
                        </div>
                        <div class="count">73개 리뷰</div>
                    </div>
                    <div class="price-wrapper">
                        <div class="discount">
                            <div class="percent">44%</div>
                            <div class="previous">15,900원</div>
                        </div>
                        <div class="price">8,900원</div>
                    </div>
                    <div class="ship">
                        <div class="title">배송</div>
                        <div class="charge">무료배송</div>
                    </div>
                </div>
                <label class="option">
                    <select class="list">
                        <option class="" disabled selected hidden>상품명</option>
                        <option class="option">노란색</option>
                        <option class="option">파란색</option>
                    </select>
                </label>
                <div class="option-detail">
                    <div class="text">노란색</div>
                    <div class="delete-btn">
                        <svg class="delete" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="check">
                        <label class="quantity-control">
                            <button class="quantity-btn minus" type="button">-</button>
                            <input class="quantity-input" type="text" value="1">
                            <button class="quantity-btn plus" type="button">+</button>
                        </label>
                        <div class="price">8,900원</div>
                    </div>
                </div>
                <div class="final">
                    <div class="title">주문금액</div>
                    <div class="final-price">0원</div>
                </div>
                <div class="action">
                    <button class="cart" type="button">장바구니</button>
                    <button class="buy" type="button">바로구매</button>
                </div>
            </form>
        </div>
        <div class="bottom-bar">
            <div class="description-wrapper">
                <div class="text-description">
                    <div class="company">레보</div>
                    <div class="product-name">강아지 장난감 노즈워크 움직이는 스낵볼</div>
                </div>
                <div class="image-wrapper">
                    <img class="image bookmark" src="/shop/assets/images/heart-default.png" alt="">
                    <img class="image share" src="/shop/assets/images/share.png" alt="">
                </div>
            </div>
            <div class="review-wrapper">
                <div class="star-wrapper">
                    <svg class="star filled" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                    <svg class="star filled" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                    <svg class="star filled" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                    <svg class="star filled" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                    <svg class="star filled" viewBox="0 0 24 24">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                </div>
                <div class="count">73개 리뷰</div>
            </div>
            <div class="price-wrapper">
                <div class="discount">
                    <div class="percent">44%</div>
                    <div class="previous">15,900원</div>
                </div>
                <div class="price">8,900원</div>
            </div>
            <div class="ship">
                <div class="title">배송</div>
                <div class="charge">무료배송</div>
            </div>
        </div>
    </div>
    <div class="detail-wrapper">
        <ul class="line">
            <li class="item info-tab">상품정보</li>
            <li class="item review-tab">리뷰(73)</li>
        </ul>
        <div class="container">
            <div class="detail">
                <img class="image" src="/shop/assets/images/detail.png" alt="">
                <div class="background"></div>
                <div class="more">상품설명 더보기</div>
            </div>
            <div class="review-container">
                리뷰창
            </div>
        </div>
    </div>
</div>

<form class="bottom-option">
    <div class="bottom-bar">
        <div class="image-wrapper">
            <img class="image" src="/shop/assets/images/top-arrow.png" alt="">
        </div>
    </div>

    <div class="option-area">
        <label class="option">
            <select class="list">
                <option class="" disabled selected hidden>상품명</option>
                <option class="option">노란색</option>
                <option class="option">파란색</option>
            </select>
        </label>
        <div class="option-detail">
            <div class="text">노란색</div>
            <div class="delete-btn">
                <svg class="delete" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
            <div class="check">
                <label class="quantity-control">
                    <button class="quantity-btn minus" type="button">-</button>
                    <input class="quantity-input" id="quantity-1" type="text" value="1">
                    <button class="quantity-btn plus" type="button">+</button>
                </label>
                <div class="price">8,900원</div>
            </div>
        </div>
        <div class="final">
            <div class="title">주문금액</div>
            <div class="final-price">0원</div>
        </div>
    </div>

    <div class="button-wrapper">
        <button class="cart-btn" type="button">장바구니</button>
        <button class="buy-btn" type="button">구매하기</button>
    </div>
</form>
</body>
</html>