<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>신규회원 쿠폰발급</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/shop/assets/styles/welcome.css">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/shop/assets/scripts/welcome.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/common.html :: topNavigator}"></th:block>
<section class="coupon-event">
    <div class="event-wrapper">
        <div class="event-title">
            만나서 반가워요! 신규회원 쿠폰 EVENT
        </div>

        <div class="event-main">
            <span>5,000원</span> 할인 <br/>
            COUPON
        </div>

        <p class="event-desc">신규 가입하신 고객님께 5,000원 할인 쿠폰을 드립니다 ♥</p>
    </div>

    <div class="coupon-wrapper">
        <img src="/shop/assets/images/coupon-cat.png" alt="#" class="image cat">
        <img src="/shop/assets/images/coupon-dog.png" alt="#" class="image dog">

        <div class="coupon-card">

            <div class="coupon-left">
                <span>GIFT COUPON</span>
            </div>

            <div class="coupon-right">
                <h2>신규 회원가입 시</h2>
                <div class="discount">5,000원</div>
                <p>(ID당 1매, 1만원 이상 구매 시)</p>
            </div>
        </div>
    </div>

    <button class="download-btn">
        쿠폰 다운로드
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="icon">
            <path d="M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z"/>
        </svg>
    </button>
</section>
</body>
</html>